<html>
<head><title>Resume</title>
    <style>
    table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    }
</style>
</head>
<body bgcolor="white">

    <table>
        <tr>
            <th colspan="6" style="background-color: grey";>RESUME</th>   
        </tr>
       
                    </table>

                </body>
                </html>